<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Активный Словарь РЯ</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='quill.snow.css') }}" />
  <script src="https://cdn.quilljs.com/1.2.5/quill.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
  <script src="static/tablefilter.js"></script>


</head>
<body>
<div class="container">
  <div class="row">
    <div class="three columns left">
      <hr>
      <div class="title" id="title">
        <h4>АКТИВНЫЙ СЛОВАРЬ<br>РУССКОГО ЯЗЫКА</h4>
      </div>
      <hr>
      <div class="menu">
        <a class="button" href="/">словник</a>
        <a class="button" href="/new">новое слово</a>
        <a class="button" href="/info">выйти</a>        
      </div>
    </div>
    <div class="eight columns right">
      <input type="search" placeholder="Поиск / фильтрация" style="width: 100%;">
      <table>
        <thead>
          <th>Слово</th>
          <th>Автор</th>
          <th>Статус</th>
        </thead>
        {{ content }}
      </table>
    </div>
  </div>
</div>
</body>
<script>
$('table').tableFilter();
</script>
</html>
